# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Thumbnails
Thumbs.db

# Spotlight
.Spotlight-V100
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Fseventsd
.fseventsd

# Directories
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk